// Đây là file .env mẫu, bạn cần tạo một file .env mới trong thư mục backend và điền 
các giá trị tương ứng vào đó. Đảm bảo giữ nguyên định dạng và tên biến như trong file này.
PORT=5000

VITE_API_URL = 

MONGO_URI=mongodb://<username>:<db_password>@ac-civkkke-shard-00-00.tvzr9ku.mongodb.net:27017,ac-civkkke-shard-00-01.tvzr9ku.mongodb.net:27017,ac-civkkke-shard-00-02.tvzr9ku.mongodb.net:27017/PhoneStoreDB?ssl=true&replicaSet=atlas-c9vlzp-shard-0&authSource=admin&appName=PhoneStoreCluster

CLOUDINARY_NAME=dq7vhnqzk
CLOUDINARY_API_KEY=928166216499513
CLOUDINARY_API_SECRET= key_secret_cloudinary

JWT_SECRET= key_secret_jwt

VNPAY_TMN_CODE=ZP5TTBBC
VNPAY_HASH_SECRET= key_secret_vnpay
VNPAY_BASE_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5000/api/vnpay/callback
VNPAY_VERSION=2.1.0
VNPAY_COMMAND=pay
VNPAY_CURR_CODE=VND
VNPAY_LOCALE=vn
VNPAY_TIMEZONE=Asia/Ho_Chi_Minh
FRONTEND_URL=http://localhost:5173

EMAIL_USER=nguyenvanquoclt1@gmail.com
EMAIL_PASS= key_pass_email

GEMINI_API_KEY= key_api_gemini
