# Server Configuration
PORT=5000

# Database Configuration (Replace with your own Atlas string)
MONGO_URI=mongodb://admin:<db_password>@ac-civkkke-shard-00-00.tvzr9ku.mongodb.net:27017,ac-civkkke-shard-00-01.tvzr9ku.mongodb.net:27017,ac-civkkke-shard-00-02.tvzr9ku.mongodb.net:27017/?ssl=true&replicaSet=atlas-c9vlzp-shard-0&authSource=admin&appName=PhoneStoreCluster
# Replace <db_password> with the password for the admin database user. 

JWT_SECRET=your_secret_key_here