# Server Configuration
PORT=5000

# Database Configuration (Replace <username> and <db_password> with your own Atlas credentials)
MONGO_URI=mongodb://<username>:<db_password>@ac-civkkke-shard-00-00.tvzr9ku.mongodb.net:27017,ac-civkkke-shard-00-01.tvzr9ku.mongodb.net:27017,ac-civkkke-shard-00-02.tvzr9ku.mongodb.net:27017/PhoneStoreDB?ssl=true&replicaSet=atlas-c9vlzp-shard-0&authSource=admin&appName=PhoneStoreCluster

JWT_SECRET=your_secret_key_here